<style>
  #div_footer{
    width: 100%;
    height: 85px;
    background-color: #faf8f8;
    font-family: Calibri;
  }
  #img_footer{
    width: 25px;
  }
</style>
<footer id="footer" >  <!--class="navbar-fixed-bottom" 固定页脚不动-->
  <div id="div_footer" >
    <div style="text-align: center;">
      <ul class="list-inline">
        <li style="margin-top: 12px"><img id="img_footer" th:src="@{/static/img/we1.png}"><a style="color: black">联系作者</a></li>
        <li>
          <address><a href="http://www.zgq.pub">www.zgq.pub</a></address>
        </li>
        <br>
        <li>Copyright &copy;2022 &nbsp;云相册&nbsp;| &nbsp;豫ICP备2021035305号-1</li>
      </ul>

    </div>
  </div>
</footer>